{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Customer List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'plptrading/style.css' %}">
 
</head>
<body>
  <h1>Customers List</h1>
  <ul>
  {% for customer in customers %}
  <li>
 <a href="{%url 'plptrading:customer_detail' customer.id %}">
  {{customer.first_name}}{{customer.last_name}}{{customer.email}}{{customer.address}}</a>
  </li>
  {% endfor %}
  
  </ul>
  <a href="{% url 'plptrading:customer_list' %}"class ="back-link">Back to customer_list</a>
</body>
</html>
