{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ customer.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'plptrading/style.css' %}">
</head>
<body>
    <h1>{{ customer.name }}</h1>
    <h3>{{customer.first_name}}{{customer.last_name}}</h3>
    <p>Email: {{ customer.email }}</p>
    <p>Phone: {{ customer.phone }}</p>
    <p><strong>Address: </strong>{{customer.address}} </p>
    <p><strong>Joined: </strong>{{customer.created_at}} </p>
    <a href="{% url 'plptrading:customer_list' %}">Back to Customer List</a>
</body>
</html>
