<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'/>
        <title>Plptrading</title>
        <meta name="viewport" content="width=device-width",initial-scale=1>
    </head>
    <body>
        <h1>Welcome to Plptrading Website</h1>
        <nav>
            <ul>
                <li><a href="{% url 'plptrading:product_list' %}">Products</a></li>
                <li><a href="{% url 'plptrading:customer_list' %}">Customers</a></li>
            </ul>
        </nav>
    </body>
</html>